.body2{
    background-color: black;
    height: 100%;
}

.buy-drill {
    text-align: center;
}

.buy-drill img{
    border-radius: 50px;
    width: 25%;
}

#buy-button{
    background-color: #e17f5a;
    border: thin black 1px;
    padding: 25px;
    margin-top:10px;
    border-radius: 25px;
    font-size: large;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 120%;
}

a{
    color:black;
}
